.animation-rotate{
    position: absolute;
    top: 350px;
    left: 50%;
    width: 100px;
    height: 100px;
    /* transform: translate(-50%,-50%); */
    background: white;
    transform-origin: 50% , 50%;
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
   
}
.container{
    -webkit-perspective: 1000;
    perspective:  1000;
}
body{
    background: #f38569;
}
@keyframes rotate{
  50%   {transform: rotateX(180deg) perspective(200px);}
  100% { transform: rotateZ(180deg) perspective(200px)}
}