.container {
    position: relative;
    top:300px;
    left: 50%;
   
}
body {
    background: #00bdbd
}
.circle-content {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    
}
.container .circle-content::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    width: 15%;
    height:15%;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    animation: moving 1.2s infinite ease-in-out;
}
.circle-content:nth-of-type(2) {
    transform: rotate(30deg);
}
.circle-content:nth-of-type(3) {
    transform: rotate(60deg);
}
.circle-content:nth-of-type(4) {
    transform: rotate(90deg);
}
.circle-content:nth-of-type(5) {
    transform: rotate(120deg);
}
.circle-content:nth-of-type(6) {
    transform: rotate(150deg);
}
.circle-content:nth-of-type(7) {
    transform: rotate(180deg);
}.circle-content:nth-of-type(8) {
    transform: rotate(210deg);
}
.circle-content:nth-of-type(9) {
    transform: rotate(240deg);
}
.circle-content:nth-of-type(10) {
    transform: rotate(270deg);
}
.circle-content:nth-of-type(11) {
    transform: rotate(300deg);
}
.circle-content:nth-of-type(12) {
    transform: rotate(330deg);
}
.circle-content:nth-of-type(13) {
    transform: rotate(360deg);
}
.circle-content:nth-of-type(2)::before {
    animation-delay: -0.9s;
}
.circle-content:nth-of-type(3)::before {
    animation-delay: -0.7s;
}
.circle-content:nth-of-type(4)::before {
    animation-delay: -0.65s;
}
.circle-content:nth-of-type(5)::before {
    animation-delay: -0.61s;
}
.circle-content:nth-of-type(6)::before {
    animation-delay: -0.58s;
}
.circle-content:nth-of-type(7)::before {
    animation-delay: -0.56s;
}
.circle-content:nth-of-type(8)::before {
    animation-delay: -0.54s;
}
.circle-content:nth-of-type(9)::before {
    animation-delay: -0.52s;
}
.circle-content:nth-of-type(10)::before {
    animation-delay: -0.49s;
}
.circle-content:nth-of-type(11)::before {
    animation-delay: -0.47s;
}
.circle-content:nth-of-type(12)::before {
    animation-delay: -0.46s;
}

@keyframes moving{
    0%, 40%, 100% {
      
        transform: scale(0);
    }
    80%{
       
        transform: scale(1);
    }
}




